body {
    padding: 0;
    margin: 0;
    max-height: 1626px;
    max-width: 1280px;
    text-align: center;
}

.header_menu {
    display: block;
    padding-right: 330px;
    padding-left: 330px;
    padding-top: 25.5px;
    }
.list_menu {
    list-style: none;
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
}
.list_menu li {
    margin-left: 72px;
}
.list_menu a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    color: #FF0000;
}
.block_picture {
    padding-top: 25.5px;
    width: 1280px;
    height: 789px;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    padding-left: 253px;
    padding-top: 48px;
}
.main_text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;

    color: #373737;
}
.main_p1 {
    padding-top: 38px;
}
.main_p2 {
    padding-top: 28px;
}
.main_button {
    margin-top: 66px;
    width: 191px;
    height: 51px;
    background: #FF0000;
    border-radius: 4px;
}
.button_text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer_text {
    padding-top: 82px;
    padding-left: 713px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
}